{% extends "plantilla.html" %}
{% load static %}


 
{% block contenido %}
    <div id="galeria">
        <div><h1>Asi trabajamos en AutolavadoPanaMiguel </h1></div>
        {% for item in lista_imagenes %}
        <a href="{{item.imagen.url}}" data-lightbox="autolav" data-title="item.nombre"><div>
        <img id="galery" src="{{item.imagen.url}}" alt=""></div></a>    
        {% endfor %}            
    </div>
    <div id="galeria-local">
        <div><h1>Ven a visitar nuestras instalaciones </h1></div>
            <div id="slider">
                <ul>
                    {% for item in slider%}
                        <li><img src="{{item.Imagen.url}}" alt=""></li> 
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock contenido %}

        